/**
* Hamburger
 */
.hamburger{
	width:24px;
	height:24px;
	position: relative;
	z-index: 9999999;
	background: #FFFFFF22;
	border-radius: 50%;
	border:1px solid #FFFFFF33;
	padding:25px;
	&-line{
		right: 15px;
		position: absolute;
		width: 20px;
		height: 2px;
		background: #fff;
		display: block;
		transition: .3s;
	}
	&-top{
		top:18px;
	}
	&-middle{
		top:24px;
	}
	&-bottom{
		width: 15px;
		bottom:18px;
	}
}
.hamburger.opened{
	.hamburger-top{
		top: 24px;
		transform: rotate(45deg);
	}
	.hamburger-bottom{
		display:none;
	}
	.hamburger-middle{
		bottom: 11px;
		transform: rotate(-45deg);
	}
}
